@import "tailwindcss";

@theme {
  --color-primarys: #E5745D;
  --color-secondarys: #00413D;
}

.font-jost {
  font-family: var(--font-jost);
}

.font-vol {
  font-family: var(--font-vol);
}

.shadowNew {
  box-shadow: 8px 8px 20px 3px rgba(147, 147, 147, 0.13);
}

.shadowNew2 {
  box-shadow: 8px 8px 20px 3px rgba(147, 147, 147, 0.13);
}