@import "tailwindcss";

@theme {
  --color-primarys: #E5745D;
  --color-secondarys: #00413D;
}

.font-jost {
  font-family: var(--font-jost);
}

.font-vol {
  font-family: var(--font-vol);
}

.shadowNew {
  box-shadow: 8px 8px 20px 3px rgba(147, 147, 147, 0.13);
}

.shadowNew2 {
  box-shadow: 8px 8px 20px 3px rgba(147, 147, 147, 0.13);
}

.beforeAfter{
    @apply relative cursor-pointer duration-300 after:content-[""] after:absolute after:left-0 after:bottom-0 after:w-[75%] after:h-0.5 after:bg-primarys after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform after:duration-300
}